body {
    background-color: blue;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    color: white;
}

.footer-bottom {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 70px
}